{% extends "layout.html" %}
{% block title %}Add a book{% endblock %}
{% block content %}
<div class="form-holder mt-5">
    <div class="form-content">
        <div class="form-items">
            <h2></h2>
            <form class="requires-validation" novalidate>
                <div class="col-md-12">
                    <input class="form-control" type="text" name="title" placeholder="Book Title" required />
                </div>
                <div class="col-md-12">
                    <input class="form-control" type="text" name="Author" placeholder="Author Name" required />
                    <div class="valid-feedback">ISBN field is valid!</div>
                    <div class="invalid-feedback">ISBN field cannot be blank!</div>
                </div>
                <div class="col-md-12">
                    <input class="form-control" type="text" name="ISBN" placeholder="ISBN-10" />
                </div>
                <div class="col-md-12">
                    <input class="form-control" type="text" name="year" placeholder="Publish year" />
                </div>
                <div class="col-md-12">
                    <textarea class="form-control" id="book-description" placeholder="Description" rows="3"></textarea>
                </div>
                <div class="form-button mt-3">
                    <button id="submit" type="submit" class="btn btn-primary"
                        style="float: right; padding: 01rem 1.5rem">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}