{% extends "layout.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<section class="info-section">
    <section class="book-information-section">
        <h1>Book information</h1>
        <div class="container book-container">
            <div class="BookContainer">
                <div class="BookimgContainer">
                    <img class="book-preview-img" src="../public/images/books-imgs/The-48-Laws-of-Power.jpg" />
                    <div class="UnderBook">
                        <img class="Bookmarkimg" src="../public/images/icons/bookmarkicon.png" />
                        <button class="buttonRead">Read Now</button>
                    </div>
                </div>
                <div class="book-info-card">
                    <h3 class="book-name"><strong>The 48 Laws of Power</strong></h3>
                    <h6 class="book-author"><strong>By Robert Greene</strong></h4>
                        <h6 class="book-isbn"><strong>ISBN-10: </strong>0140280197</h6>

                        <div class="book-details">
                            <div class="info01">
                                Published<br />
                                <span class="underinfo01">1998</span>
                            </div>
                            <div class="info02">
                                Pages<br /><span class="underinfo02">480</span>
                            </div>
                            <div class="info03">
                                Language<br /><span class="underinfo03">English</span>
                            </div>
                        </div>
                        <p>
                            The 48 Laws Of Power draws on many of history's most famous
                            power quarrels to show you what power looks like. how you can
                            get it. what to do to defend yourself against the power of
                            others and, most importantly, how to use it well and keep it.
                        </p>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}