{% extends "base.html"}
<link rel="stylesheet" href="bookPage.css">
{% block title %}{{title}} Page{% endblock %}
{% block body %}
<div class="container">
    <div class="BookContainer">
        <div class="BookimgContainer">
            <img class="Bookimg" src="Book01.jpg">
            <div class="UnderBook"><img class="Bookmarkimg" src="bookmarkicon.png">
                <button class="buttonRead">Read Now</button>
            </div>
        </div>
        <div class="Book">
            <div class="BookName">The 48 Laws of Power</div>
            <div class="Bookinfo">
                <div class="Auther">By Robert Greene</div>
                <div class="ISBN"><span class="bold">ISBN:</span> 0140280197</div>
            </div>
            <div class="Bookdetails">
                <div class="info01">
                    Published<br /> <span class="underinfo01">1998</span>
                </div>
                <div class="info02">Pages<br /><span class="underinfo02">480</span>
                </div>
                <div class="info03">Language<br /><span class="underinfo03">English</span>
                </div>
            </div>
            <div class="BookDes">
                The 48 Laws Of Power draws on many of history's most famous power quarrels to show you what power looks
                like. how you can get it. what to do to defend yourself against the power of others and, most
                importantly, how to use it well and keep it.
            </div>
        </div>
    </div>
</div>
{% endblock %}