{% extends "base.html" %}
{% block title %}Register for Bookify{% endblock %}
{% block body %}
<section class="p-5 p-lg-0 pt-lg-5 text-sm-star">
    <div class="container register-container">
        <div class="d-sm-flex">
            <div class="register-form-side">
                <a href="">
                    <img class="bookify-logo-register" src="/images/bookify-logo/Bookify-logo.png" alt="" />
                </a>
                <div class="form-holder register-form-holder">
                    <div class="form-content register-form-content">
                      <div class="form-items register-form-items">
                            <h1>Creat an account</h1>
                            <p>Start your reading journey with us today!</p>
                            <form class="requires-validation" action="/register" method="post" novalidate>
                                {% if errors %}
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for error in errors %}
                                        <li>{{error.msg}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                <div class="col-md-12">
                                    <label class="input-label" for="username">Username <span>*</span></label>
                                    <input class="form-control" type="text" name="username" value="{{username}}"
                                        placeholder="Enter an username" required />
                                </div>
                                <div class="col-md-12">
                                    <label class="input-label" for="email">Email <span>*</span></label>
                                    <input class="form-control" type="email" name="email" placeholder="Enter your email"
                                    value="{{email}}" required />
                                </div>
                                <div class="col-md-12">
                                    <label class="input-label" for="password">Password <span>*</span></label>
                                    <input class="form-control" type="password" name="password"
                                        placeholder="Enter your password" required />
                                </div>
                                <div class="col-md-12">
                                    <label class="input-label" for="confirm">Confirm your password
                                        <span>*</span></label>
                                    <input class="form-control" type="password" name="confirm"
                                        placeholder="Confirm your password" required />
                                </div>
                                <div class="form-button mt-3">
                                    <button id="submit" type="submit" class="btn btn-primary register-btn-primary">
                                        sign up
                                    </button>
                                    <p>Already have an account?<strong><a href="/login"> Log in</a></strong></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="register-pattern-side d-none d-md-block">
            <img class="" src="/images/pattern-reg.png" alt="" />
          </div>
        </div>
    </div>
</section>
{% endblock %}