

.bold{
  font-weight: bold;
}

.book-container {
  background-color: #fff;
  border: 1px solid black;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  
}
.book-preview-img{
width: 10rem;
border-radius: 1rem;
}
.BookContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 0.5em;
}

.BookimgContainer {
  margin-right: 0.5em;
}

.Bookimg {  
  width: 9em;
  height: 13em;
  object-fit: cover;
  border-radius: 0.5em;

}

.UnderBook{
  display: block;
}

.Bookmarkimg {
  margin-top: 0.8em;
  margin-right: 0.75em;
  margin-left: 0.25em;
  width: 1.5em;
  height: 1.5em;
  object-fit: cover;
  
}

.buttonRead{
  background-color:rgba(7,72,166,255);
  color: white;
  border: none;
  margin-top: 0.75em;
  height: 2.5em;
  width: 8em;
  border-radius: 8px;
  border-radius: 18px;
  font-size: 13px;
  cursor: pointer;
  
  transition: background-color 0.15s,
    color 0.15s;

  float: right;
  margin-left: -50%;

}

.Book {
  flex: 1;
  margin-top: 2em;
  margin-left: 0.5em;
}


.Bookinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.Auther {
  font-size: 1em;
  margin-top: 0.25em;
  margin-left: 0.1em;
  font-weight: bold;
}

.ISBN {
  font-size: 14px;
  color: rgb(120, 120, 120);
}



.underinfo01{
  text-align: center;
  margin-left: 1em;
}

.underinfo02{
  text-align: center;
  margin-left: 0.5em;
}

.underinfo03{
  text-align: center;
  margin-left: 0.6em;
}

.BookDes {
color: black;  
font-weight: bold;
font-size: 15px;
margin-top: 1em;
}

.info-section{
  margin: 5rem 5%;
}

.info-section h1{
  font-size: 70px;
  border-bottom: 3px solid gray;
}

.book-author,.book-isbn{
  display: inline;
}
.book-isbn{
  float: right;
}
.book-info-card{
  margin-left: 1rem;

}

.book-details{
  width: 100%;
  display: block;
  position: relative;
  font-weight: bold;
  background-color: rgba(212, 206, 206, 0.5);
  border-radius: 4px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  align-self: center;
}

.info01{
  text-align: center;
  display: inline-block;
  font-size: 13px;
  text-decoration: underline;
  align-self: center;
  grid-template-columns: auto;
}

.info02{
  text-align: center;
  display: inline-block;
  font-size: 13px;
  text-decoration: underline;
}

.info03{
  text-align: center;
  display: inline-block;
  font-size: 13px;
  text-decoration: underline;
  margin-right: 1em;
}