<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles.css" />

    <title>Bookify</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg py-4">
      <div class="container-fluid">
        <a href="#" class="navbar-brand">
          <img
            class="bookify-nav-logo"
            src="/images/bookify-logo/Bookify-logo.png"
            alt="Bookify Logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="#BOOKS" class="nav-link">BOOKS</a>
            </li>
            <li class="nav-item">
              <a href="#BOOKMARK" class="nav-link">BOOKMARK</a>
            </li>
            <li class="nav-item">
              <a href="#REQUEST" class="nav-link">REQUEST</a>
            </li>
          </ul>
          <form class="d-flex me-4 ms-4" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
          <button class="btn log-in-btn-nav pe-4 ps-4" type="submit">
            LOG IN
          </button>
        </div>
      </div>
    </nav>
    <section class="user-request-section">
      <h1>Request a book</h1>

      <!--
      *********************************************************************
      *********************************************************************
      *********************************************************************
      *********************************************************************

    -->
      <div class="form-holder mt-5">
        <div class="form-content">
          <div class="form-items">
            <h2>Request a book</h2>
            <form class="requires-validation" novalidate>
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="text"
                  name="title"
                  placeholder="Book Title"
                  required
                />
              </div>
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="text"
                  name="ISBN"
                  placeholder="Book ISBN-10"
                  required
                />
                <div class="valid-feedback">ISBN field is valid!</div>
                <div class="invalid-feedback">ISBN field cannot be blank!</div>
              </div>
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="text"
                  name="author"
                  placeholder="Author (Optional)"
                />
              </div>
              <div class="form-button mt-3">
                <button
                  id="submit"
                  type="submit"
                  class="btn btn-primary"
                  style="float: right; padding: 01rem 1.5rem"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--
      *********************************************************************
      *********************************************************************
      *********************************************************************
      *********************************************************************

    --></section>
    <!-- Footer-->
    <section class="footer p-5 text-light text-center position-relative">
      <div class="container">
        <div class="d-sm-flex justify-content-between">
          <div class="foot-l d-sm-block">
            <a href="">
              <img
                class="footer-logo"
                src="/images/bookify-logo/logofy-log-white.png"
                alt=""
              />
              <img
                class="footer-logo-text"
                src="/images/bookify-logo/logofy-white.png"
                alt=""
              />
            </a>
            <p>
              Bookify is an online library that brings you books from all over
              the world and lets you enjoy them.
            </p>
          </div>
          <div class="foot-m d-sm-block">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/">Books</a></li>
              <li><a href="/">Request</a></li>
              <li><a href="/">About us</a></li>
            </ul>
          </div>
          <div class="foot-r d-sm-block">
            <h3>Follow us on Links</h3>
            <a href="/">
              <img
                class="follow-us-img"
                src="/images/svgs/facebook-icon.svg"
                alt=""
              />
            </a>
            <a href="/">
              <img
                class="follow-us-img"
                src="/images/svgs/instagram-icon.svg"
                alt=""
              />
            </a>
            <a href="/">
              <img
                class="follow-us-img"
                src="/images/svgs/twitter-icon.svg"
                alt=""
              />
            </a>
            <a href="/">
              <img
                class="follow-us-img"
                src="/images/svgs/github-icon.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="p-3 footer-copyright">
      <div class="container">
        <p>Copyright &copy; 2022 Bookify - All right reserved</p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/frontEndJS.js"></script>
  </body>
</html>
