{% extends "layout.html" %}
{% block title %}Login Bookify{% endblock %}
{% block content %}
    <section class="view-request-section">
      <h1>Book information</h1>
      <div class="view-request-container">
        <div class="reques-card"></div>

        {% for request in requests %}
        <div class="view-request-card">
          <h5>
            <strong>Book: </strong>
            <span><h6 class="view-request-h6">{{request.title}}</h6></span>
          </h5>
          <h5>
            <strong>Author: </strong>
            <span><h6 class="view-request-h6">{{request.author}}</h6></span>
          </h5>
          <h5>
            <strong>ISBN-10: </strong>
            <span><h6 class="view-request-h6">{{request.isbn}}</h6></span>
          </h5>
          <div class="view-request-button-container">
            <button class="view-request-reject-button">Reject</button
            ><button class="view-request-add-button">Add</button>
          </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}