<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="requests.css">
    <body>
      <div Class="Req01">
        <div >
          <span class="bold">Book:</span> The 48 Laws of Power
        </div>
        <div>
          <span class="bold">Auther:</span> Robert Greene
        </div>
        <div>
          <span class="bold">ISBN:</span> 0140280197 <button class="buttonRej">Reject</button><button class="buttonAdd">Add</button>
        </div>
        
      </div>

      <div Class="Req01">
        <div >
          <span class="bold">Book:</span> The outliers 
        </div>
        <div>
          <span class="bold">Auther:</span> Malcolm Gladwell
        </div>
        <div>
          <span class="bold">ISBN:</span> 0316017930<button class="buttonRej">Reject</button> <button class="buttonAdd">Add</button>
        </div>
      </div>

      <div Class="Req01">
        <div >
          <span class="bold">Book:</span> The 48 Laws of Power
        </div>
        <div>
          <span class="bold">Auther:</span> Robert Greene
        </div>
        <div>
          <span class="bold">ISBN:</span> 0140280197 <button class="buttonRej">Reject</button><button class="buttonAdd">Add</button>
        </div>
        
      </div>

      <div Class="Req01">
        <div >
          <span class="bold">Book:</span> The outliers 
        </div>
        <div>
          <span class="bold">Auther:</span> Malcolm Gladwell
        </div>
        <div>
          <span class="bold">ISBN:</span> 0316017930<button class="buttonRej">Reject</button> <button class="buttonAdd">Add</button>
        </div>
      </div>
    </body>
  </head>
</html>